
body, html {
  font-family: Arial, sans-serif; 
  background-color: #f0f0f0; 
}

/* Container cho form */
form {
  max-width: 400px; 
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd; 
  border-radius: 5px;
}

/* Định dạng tiêu đề */
h2 {
  color: #007bff; /* Màu chữ xanh dương */
  text-align: center; /* Căn giữa tiêu đề */
}

/* Định dạng các trường nhập liệu */
input[type=text], input[type=password], input[type=tentaikhoan] {
  width: calc(100% - 20px); /* Chiều rộng là 100% trừ đi 20px */
  padding: 10px; /* khoảng cách bên trong */
  margin: 5px 0; 
  border: 1px solid #ddd; 
  border-radius: 3px;
}


input[type=submit] {
  width: 100%; 
  padding: 10px; 
  background-color: #007bff; 
  border: none; 
  color: #fff; 
  border-radius: 3px; 
}


input[type=submit]:hover {
  background-color: #0056b3; 
}


a {
  color: #007bff; 
  text-decoration: none;
}


